:root {
    --header-color: rgb(1, 38, 86);
    --footer-color: rgb(26, 66, 80);
    --header-text-color: rgb(131, 255, 239);
    --footer-text-color: rgb(55, 209, 252);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, var(--header-color), var(--footer-color));
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    line-height: 2.5rem;
    color: var(--header-text-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: auto 0;
}

#calculator-box {
    height: 31.5em;
    width: 28em;
    border: 2px solid rgb(0, 255, 248);
    box-shadow: 0px -1px 15px rgb(0, 255, 248);
    border-radius: 10px;
}

footer {
    margin-top: auto;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--footer-text-color);
}